html {
    box-sizing: border-box;
    background-color: #f3f7f7;
}
    
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro,
.social-media {
    padding: 50px;
}

.intro {
    font-family: monospace;
    font-size: 28px;
}

.blinking {
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

.social-media {
    font-size: 32px;
}

p {
    padding: 5px;
    margin: 0;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #1e1e24;
}

a:hover {
    color: #537779;
}